$font-stack: "Lucida Console";
$primary-color: #008B8B; 
$primaryBtn: black; 
@import "colors";


header {
    background: $primary-color;
    display: flex;
    justify-content: center;
    padding-bottom: 25%;
    
    

    .topnav {
        
        background-color: beige;
        overflow: hidden;
        top: 0;
        width: 100%;
        text-align: center;
        
         ul{
            margin: 0; 
            padding: 0;
            list-style: none;
            
            }
            li { display: inline-block; }

            a{
                display: initial;
                padding: 6px 24px;
                text-decoration: none;
            }
        
        
    }
}
/* nesting */

body{
    background: beige;
    p{
        color: $primary-color;
        font-variant : small-caps;
        text-align: center;
        
    }

    
}

/* nesting */

.main {
    color: $primary-color;
    .container{
        padding-bottom: 80%;
    }

}

h1, h2, h3 {
    text-align: center;
    color: $primary-color;
    font-variant: small-caps;
}

/* extend and Inheritance */

h4 {
    @extend h1;
    color: $myblue; 
     
}



footer {
    background: $primary-color;
    justify-content: center;
    padding-top: 25px;
    
    .container {
        padding-bottom: 40%;
    }

    button {
        color: $primaryBtn;
        float: right;
        
        
        
     }
    
}
 

