@import "./variables";
@import "colors";
@import "./header";





/* nesting */

.main {
    color: $primary-color;
    .container{
        padding-bottom: 80%;
    }

}

h1, h2, h3 {
    text-align: center;
    color: $primary-color;
    font-variant: small-caps;
}


/* extend and Inheritance & color */

h4 {
    @extend h1;
    color: $myblue; 
     
}



footer {
    background: $primary-color;
    justify-content: center;
    padding-top: 25px;
    
    .container {
        padding-bottom: 40%;
    }

    button {
        color: $primaryBtn;
        float: right;
        
        
        
     }
    
}
 

